*{
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
}
body,html{
    width: 100%;
    height: 100%;
}

#gamecontainer{
    position: relative;
    max-width: 960px;
    width: 100%;
    max-height: 540px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#gamecontainer > canvas{
    position : absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}

/**--------     loading container       ----------**/
#gamecontainer > #gameloading{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #668B8B;
    z-index: 40;
}

#gameloading > .loading_container{
    position: relative;
    width: 320px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 230px;
    background: none;
}

#gameloading > .loading_text{
    position: relative;
    width: 320px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    left:0px;
    top: 230px;
    line-height: 30px;
    font: 600 24px 'Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif';
    color: #ebfaff;
}

.loading_text > .loading_tip{
    float: left;
    position: relative;
    width: 260px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.loading_text > .loading_num{
    float: right;
    position: relative;
    width: 60px;
    height: 30px;
}

#gameloading > .loading_container > .loading_span{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 5%;
    top: 15px;
    background: #333333;
    border-radius: 20px;
    overflow: hidden;
}

.loading_span > .loading_bar{
    position: absolute;
    width: 0px;
    height: 24px;
    top:3px;
    left: 3px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #ebfaff;
}

.loading_container > .loading_img{
    position: absolute;
    top: -5px;
    left: -10px;
    width: 50px;
    height: auto;
}